div{
    display: block;
}
header{
    margin-top: 60px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.right{
    float: right;
    display: inline;
    margin-left: 30px;
}
nav{
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 60px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
ul.menu{
    list-style:none;
    margin:0px;
    padding:0px;
}
.menu a{
    display:block;
    width:auto;
    height:20px;
    text-indent:5px;
    float:left;
    text-align:center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
	color: #067aa7;
    text-decoration: none;
}
.menu a:hover{
    border-bottom: 5px solid #df8958;
	color: #df8958;
	text-decoration: none;
}
.menu .active{
    border-bottom: 5px solid #df8958;
	color: #df8958;
	text-decoration: none;
}
.picslide{
    margin-top: 60px;
    padding-bottom: 15px;
    width: 960px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}